.loginContainer {
    background: url('./images/Login.jpg') no-repeat center fixed;
    background-size: cover;
    padding-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .loginContainer h1 {
    padding-top: 40px;
    color: white;
    font-weight: 900;
    text-shadow: 4px 6px 6px gray;
  }
  .loginform label, .loginform input {
    padding: 20px;
    width: 100%;
  }
  .loginform label {
    color: greenyellow;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 4px 6px 6px black;
    font-size: 24px;
    font-weight: 900;
  }
  .loginform button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    width: 100%;
  }
  
  .loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }

  .loginform p {
    color: black;
    padding-top: 30px;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 4px;
    font-weight: 900;
  }

  .registerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  .registerDiv p {
    width: 100%;
  }

  .registerDiv .regButton {
    text-transform: uppercase;
    background-color: aqua;
    border-radius: 4rem;
    width: 180px;
  }

  .registerDiv .regButton:hover {
    background-color: green;
    color: white;
  }
  
  @media screen and (max-width: 960px) {
    .loginContainer {
      padding-top: 0;
    }
    .loginform {
      width: 80%;
    }
  }
