.usersMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./images/users.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.contain {
    padding: 30px;
    background-color: azure;
    box-shadow: 4px 6px 6px 4px rgb(0, 0, 0, 0.8);
    opacity: 0.9;
}

.contain h1 {
    padding-bottom: 30px;
}

.noWrap {
    white-space: nowrap;
    border: 1px solid black;
    background-color: white;
}
