.navbar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    font-size: 1.2rem;
    background-color: transparent;
    background: transparent;
    top: 0;
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;
    top: 0;
  }

  .navbar.colorChange{
    background-color: rgb(169, 167, 167);
  }

  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: row ;
    list-style: none;
    text-align: center;
    justify-content: space-around;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .nav-links {
    color: black;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: #1888ff;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }

  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    color: white;
  }

  .nav-button:hover {
    background-color: #1888ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: black;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 1180px) {
    .navbar {
      background-color: transparent;
    }
    .NavbarItems {
      position: relative;
    }
    .navbar.colorChange{
        background-color: transparent;
      }
      .navbar.colorChange .nav-links{
        color: white;
      }
    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 10000;
    }
  
    .nav-menu.active {
      background: black;
      left: 0;
      opacity: 100;
      transition: all 0.5s ease;
      z-index: 10000;
    }
  
    .nav-links {
      color: white;
      margin-top: -90px;
      text-align: center;
      width: 150px;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #1888ff;
      color: white;
      border-radius: 4px;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: black;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #1888ff;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #1888ff;
      transition: 250ms;
    }
  }

  .logo {
    width: 300px;
    height: 80px;
    /* background-image: url('./images/logo.png'); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
  }