.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Contact Me */

.contactme {
  padding-top: 40px;
  background: url('./pages/images/contact.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container1 {
  width: 80%;
  padding: 40px;
  background-color: azure;
}

.form {
  background-color: white;
}

/* Add Portfolio */

.box {
  z-index: 10000;
}

.closeAddRecord {
  /* padding-right: 20px; */
  font-size: 2rem;
  cursor: pointer;
  border: 1px so;
}

.addForm {
  padding: 0 60px 30px 60px;
}

/*  AdminPortfolio Page */

.adminport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100%;
  margin: 0;
  padding-top: 60px;
  background: url('./pages/images/webdeveloper.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.colorChange {
  opacity: 0.3;
}

.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 5px;
  letter-spacing: 4px;
  font-size: 40px;
  font-weight: 900;
  width: 100%;
  padding: 30px;
}

.viewPortfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  padding-bottom: 20px;
}

.searchRecord {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.addRecord {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.addRecordBtn {
  padding-right: 20px;
}

.addRecordBtn1 {
  padding: 10px;
  font-size: 18px;
  background-color: green;
  color: white;
  border-radius: 1rem;
}

.text-center {
  font-weight: 600;
  background-color: azure;
  padding: 10px;
  word-spacing: 4px;
  border-radius: 0.5rem;
  /* color: ; */
}

.box {
  position: absolute;
  top: 160px;
  height: fit-content;
  background-color: azure;
  box-shadow: 4px 8px 8px 6px gray;
}

.faEdit {
  color: blue;
  margin-left: 50px;
}

.faEdit:hover, .text-danger:hover {
  cursor: pointer;
}

/*  Home Page */

* {
  font-family: "Times New Roman", Times, serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Picture {
  width: 30%;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Picture img {
  width: 100%;
  box-shadow: 4px 6px 8px white;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 30px;
  margin-bottom: 40px;
  background-color: rgb(240, 255, 255, 0.6);
}

.info p {
  line-height: 50px;
  font-size: 20px;
  color: black;
}

.description {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  margin-top: -30px;
}

/*  Portfolio Page */

.portfolioContainer {
  background: url('./pages/images/Portfolio.jpg') no-repeat center fixed;
  background-size: contain;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 55px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.info-title h1 {
  width: 30%;
  color: black;
  background-color: bisque;
  border-radius: 2rem;
  opacity: 0.8;
}

.portfolio {
  width: 100%;
  padding: 10px;
}

.optionsMain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.options {
  background-color: rgb(245, 218, 183);
  border-radius: 2rem;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: 80%;
  border: 2px solid black;
  box-shadow: 4px 8px 8px 6px gray;
}

.options h1 {
  width: 400px;
}

.options p {
  margin: 0;
  width: 300px;
}

.options p:hover {
  cursor: pointer;
}

.options a {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.options a:hover {
  cursor: pointer;
}

.options a:link {
  text-decoration: none;
}

.options p:active {
  transform: scale(1.5);
  transition: transform 0.25s ease;
}

/*  Contact Me Page */

.box {
  width: 100%;
}

.title {
  letter-spacing: 3px;
  word-spacing: 10px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.form {
  padding: 30px;
  border: 1px solid gray;
}

.formContainer{
  border: 1px solid black;
  box-shadow: 8px 12px 12px gray;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.formContainer label {
  display: flex;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 0;
  justify-content: flex-start;
}

.formContainer .input {
  padding: 5px;
  border-radius: 10px;
}

.btnsubmit {
  margin-top: 30px;
  padding: 15px 30px;
  width: fit-content;
  align-self: center;
  border-radius: 25px;
  box-shadow: 8px 12px 12px gray;
}

.btnsubmit:hover {
  color: white;
  background-color: green;
}

.err {
  color: red;
}

/* Admin Contact */

.admincont {
  min-height: 100vh;
  max-height: 100%;
  background: url('./pages/images/contact.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 60px 0 60px;
}

.admincontTitle {
  padding: 20px;
}

.contain1 {
  background-color: antiquewhite;
  padding-top: 20px;
  box-shadow: 4px 6px 6px 4px black;
  width: 100%;
}

.portfolioTable tbody tr td {
  padding: 20px 0;
}

/* Personal Info Page */

.pi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pi h1 {
  padding: 50px;
}

.passwordChange {
  margin-top: 30px;
  padding: 20px;
  border-radius: 1rem;
}

.passwordChange:hover {
  background-color: green;
  color: white;
}

/* Home Page */

.homeMain {
  min-height: 100vh;
  max-height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background: url('./pages/images/comp.webp') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.homeMain.changeHeight {
  height: 100%;
}

.homeMain p {
  width: 100%;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  padding: 30px 10px;
  background-color: rgb(128, 128, 128, 0.9);
}

.quote:hover {
  transform: scale(1.2);
  transition: 2s ease-in-out;
  cursor: pointer;
}

/* About Page */

.aboutMain {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px;
  min-height: 100vh;
  max-height: 100%;
  background: url('./pages/images/youcandoit.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  min-height: 590px;
  max-height: 100%;
}

.picture {
  min-height: 100%;
  max-height: 490px;
  width: 30%;
}

.img {
  height: 490px;
  width: 100%;
}

.img2 {
  display: none;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: azure;
  opacity: 0.8;
  width: 60%;
  min-height: 490px;
  max-height: 100%;
  padding: 30px;
}

.about h5 {
  line-height: 30px;
}



@media screen and (max-width: 960px) {
  .aboutMain {
    background: none;
  }
  .picture {
    display: none;
  }
  .img2 {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
  }
  .about {
    width: 90%;
    height: 100%;
    padding: 20px;
  }
  .about h5 {
    color: black;
    font-weight: 500;
  }
}

/* Edit Portfolio */

.editPortfolio {
  margin-top: 100px;
  z-index: 10000;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
}

.closeEdit {
  display: block;
  font-size: 2rem;
  cursor: pointer;
}

/* Edit User */

.closeButtonEdit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.closeUserEdit {
  font-size: 2rem;
  cursor: pointer;
}

.userSearchMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
}

.userSearch {
  border: 0.2px solid gray;
  border-radius: 0.5rem;
  padding: 10px;
}

/* Password Change */

.passChange {
  height: 460px;
    position: absolute;
    top: 150px;
    right: 0;
    width: 100%;
    background-color: rgb(87, 86, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.passChangeClose {
  position: absolute;
  color: white;
  z-index: 1000;
  top: 50px;
  right: 80px;
  font-size: 2rem;
  cursor: pointer;
}
.passChangediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.passChangeTitle {
  width: 100%;
  color: white;
}
.passChangeInput {
  width: 100%;
}
.passChangeInput {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.passChangeInput input {
  padding: 10px;
}

/* Edit User */

.editUser {
  margin-top: 100px;
  z-index: 10000;
}